[Unit]
Description=Fix sound card on resume
After=systemd-suspend.service
After=systemd-hibernate.service
After=nvidia-resume.service

[Service]
Type=oneshot
ExecStart=/usr/bin/fixcard.sh resume

[Install]
WantedBy=systemd-suspend.service
WantedBy=systemd-hibernate.service
